@model HudPluginModel

@if (Model != null)
{
    <div class="hud-panel" data-role="panel" data-panel-role="1" data-src="mini-top" data-on-init="@Model.OnInit" data-on-moved="@Model.OnPanelMoved">
        <a href="#" class="menu-btn"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <a href="#" class="panel-btn panel-btn-top hidden" data-role="expand-down"><span class="glyphicon glyphicon-triangle-bottom" aria-label="Expand panel"></span></a>
        <a href="#" class="panel-btn panel-btn-top" data-role="expand-up"><span class="glyphicon glyphicon-triangle-top" aria-label="Expand panel"></span></a>
        <a href="#" class="panel-btn panel-btn-left" data-role="move-to-main"><span class="glyphicon glyphicon-triangle-left" aria-label="Swap with main panel"></span></a>
        <div class="hud-panel-content" data-role="panel-content">
            <div data-role="mini">
                @Html.Raw(Model.Html)
            </div>
        </div>
    </div>
}