@model Quest.WebCore.Models.HudLayout
@foreach (var panel in Model.Panels)
{
    if (panel.Panel != null)
    {
        @Html.Partial("_HudPanel", panel)
    }
    else
    {
        <div class="w-100"></div>
    };
}


