################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/src/.vs/*
/src/obj/*
/src/Quest.WebCore/bin
/src/Quest.Api/obj
/src/Quest.Api/bin
/src/Quest.WebCore/obj
/src/Quest.Core/bin
/src/Quest.Core/obj
/src/packages
/src/Quest.Cmd/bin
/src/Quest.Cmd/obj
/src/Quest.Common/bin
/src/Quest.Common/obj
/src/Quest.Lib/bin
/src/Quest.Lib/obj
/src/Quest.Lib.OS/bin
/src/Quest.Lib.OS/obj
/src/Quest.Lib.Research/bin
/src/Quest.Lib.Research/obj
/src/Quest.Lib.Simulation/bin
/src/Quest.Lib.Simulation/obj
/src/Quest.Mobile/bin
/src/Quest.Mobile/obj
/src/Quest.UnitTest/bin
/src/Quest.UnitTest/obj
/src/Quest.XC/bin
/src/Quest.XC/obj
/src/Quest.HEMSLinkTest/bin
/src/Quest.HEMSLinkTest/obj
/src/TfL.Api.Common/bin
/src/TfL.Api.Common/obj
/src/Quest.Cmd/Quest.Cmd.csproj.user
/build/Docker/volume_quest/IndexData/gdalwmscache
/build/Docker/volume_data/Quest.mdf
/build/Docker/volume_data/Quest.ldf
build/Docker/volume_data/Quest.mdf
build/Docker/volume_data/Quest_log.ldf
src/.vs/Quest/v15/.suo
src/.vs/Quest/v15/sqlite3/storage.ide
/build/Docker/quest-core/bin
/build/Docker/quest-api/bin
/build/Docker/volumes/*
/Quest.UnitTests/bin/Debug/netcoreapp2.0
/Quest.UnitTests/obj
/src/Quest.WebCore/obj
/src/Quest.WebCore/bin
/src/Quest.UnitTests/bin
/src/Quest.UnitTests/obj
/src/Quest.WebCore.Interfaces/obj
/src/Quest.WebCore.Interfaces/bin
.Rproj.user
