<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".-->
    
    <connectionStrings  xdt:Transform="Replace">

      <add name="AuthEntities" connectionString="data source=.;initial catalog=QuestMaster;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
      <add name="QuestEntities" connectionString="metadata=res://*/DataModel.QuestModel.csdl|res://*/DataModel.QuestModel.ssdl|res://*/DataModel.QuestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QuestMaster;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="osm2Entities" connectionString="metadata=res://*/OpenStreetMap.Models.OsmModel.csdl|res://*/OpenStreetMap.Models.OsmModel.ssdl|res://*/OpenStreetMap.Models.OsmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=osm2;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="NLPGEntities" connectionString="metadata=res://*/DataModel.NLPGModel.csdl|res://*/DataModel.NLPGModel.ssdl|res://*/DataModel.NLPGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NLPG;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <applicationSettings>
    <Quest.Mobile.Properties.Settings>
      
      <!--  include LocalServiceBusClient if not using Quest.Processor -->

      <setting name="Parts" serializeAs="Xml"   xdt:Locator="Match(name)" xdt:Transform="Replace"  >
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Quest.Lib.Routing.RouteEngine</string>
            <string>#Quest.Lib.ServiceBus.ActiveMqClient</string>
            <string>Quest.Lib.ServiceBus.LocalServiceBusClient</string>
          </ArrayOfString>
        </value>
      </setting>

      <!--  Set to true if not using Quest.Processor -->
      <setting name="EmbeddedJobManager" serializeAs="String"  xdt:Locator="Match(name)" xdt:Transform="Replace" >
        <value>True</value>
      </setting>
      <setting name="ElasticUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>#http://localhost:9200</string>
            <string>http://86.29.75.151:9200</string>
          </ArrayOfString>
        </value>
      </setting>
      
      <setting name="AutoStartJobs" serializeAs="Xml" xdt:Locator="Match(name)" xdt:Transform="Replace" >
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>EisecServer</string>
            <string>EisecSimulator</string>
            <string>DeviceTracker</string>
            <string>XReplayPlayer</string>
            <string>RoutingManager</string>
            <string>VisualsManager</string>
            <string>TwitterTracker</string>
          </ArrayOfString>
        </value>
        
      </setting>
    </Quest.Mobile.Properties.Settings>
  </applicationSettings>
</configuration>