html, body, .container-fluid {
    height: 100%;
    background: #010c00;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.twothird-height {
    height: 65%;
}

.onethird-height {
    height: 35%;
}

.no-height {
    height: 0;
}

.right-border {
    border-right: 1px solid #444444;
}
.left-border {
    border-left: 1px solid #444444;
}
.top-border {
    border-top: 1px solid #444444;
}
.bottom-border {
    border-bottom: 1px solid #444444;
}

#main-panel-wrapper-left {
    border-right: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

#main-panel-wrapper-right {
    border-bottom: 1px solid #444444;
}


#side-panel-wrapper > div:first-child {
    border-bottom: 1px solid #444444;
}

#side-panel-wrapper-left > div:first-child {
    border-right: 1px solid #444444;
}

#side-panel-wrapper-mid > div:first-child {
    border-right: 1px solid #444444;
}

#side-panel-wrapper-right > div:first-child {
}

.hud-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 32px;
}

    .hud-panel .hud-panel-content {
        height: 100%;
    }

.panel-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 24px;
    z-index: 999;
}

    a.panel-btn {
    color: green;
    }

    .panel-btn.panel-btn-top {
        top: 0;
        left: 50%;
        transform: translateX(-16px);
    }

    .panel-btn.panel-btn-bottom {
        bottom: 0;
        left: 50%;
        transform: translateX(-16px);
    }

    .panel-btn.panel-btn-left {
        left: 0;
        top: 90%;
        /*transform: translateY(-16px);*/
    }

    .panel-btn.panel-btn-right {
        left: 100%;
        top: 90%;
        transform: translateX(-20px);
    }

.panel-btn.panel-top-left {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    z-index: 999;
}


.buttonicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 32px;
    height: 32px;
}

.panel-btn.panel-btn-bottom > .buttonicon {
    margin-top: -3px;
}

.buttonicon-collapse-up {
    background-image: url(images/bullet_arrow_up.png);
}

.buttonicon-collapse-down {
    background-image: url(images/bullet_arrow_down.png);
}

.buttonicon-swap-left {
    background-image: url(images/bullet_arrow_left.png);
}

.buttonicon-layout-full-screen {
    background-image: url(images/layouts_header.png);
}

.buttonicon-layout-mix-panels {
    background-image: url(images/layouts_3_mix.png);
}


div[data-role="panel"] > div {
    padding: 0;
}

div[data-role="panel-content"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
