@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "System Down";
}

<h2>The System is Down</h2>
<p>Unfortunately the system is currently down.</p>
<br />
<br />
<p>@ViewBag.Message</p>
