<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
      <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Quest.UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>  
  <connectionStrings>
    <add name="QuestEntities" connectionString="metadata=res://*/DataModel.QuestModel.csdl|res://*/DataModel.QuestModel.ssdl|res://*/DataModel.QuestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=quest;user=sa;pwd=M3Gurdy*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="osm2Entities" connectionString="metadata=res://*/OpenStreetMap.Models.OsmModel.csdl|res://*/OpenStreetMap.Models.OsmModel.ssdl|res://*/OpenStreetMap.Models.OsmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=osm2;user id=questuser;password=quest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Logs\Quest.Test.log" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp} {category} {title}: {message}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="TracePolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" />
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.0" newVersion="1.7.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.0.0" newVersion="1.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Mono" publicKeyToken="425ba4de41127026" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Shim" publicKeyToken="c55ec16d10c4b366" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Quest.UnitTest.Properties.Settings>
      <setting name="OldSyns" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>app,approach </string>
            <string>ave,avenue</string>
            <string>bri,bridge</string>
            <string>bdwy,broadway </string>
            <string>br,british rail</string>
            <string>cem,cemetery</string>
            <string>clo,close</string>
            <string>cnr,corner</string>
            <string>ct,court</string>
            <string>cres,crescent</string>
            <string>x,cross </string>
            <string>dri,drive </string>
            <string>e,east </string>
            <string>est,estate </string>
            <string>fc,football club</string>
            <string>gdns,gardens</string>
            <string>la,lane </string>
            <string>lt,lte</string>
            <string>mans,mansions </string>
            <string>mkt,market </string>
            <string>mt,mount </string>
            <string>n,north </string>
            <string>pde,parade </string>
            <string>pk,park </string>
            <string>pl,place </string>
            <string>pol,police </string>
            <string>rec,recreation </string>
            <string>rd,road</string>
            <string>rbt,roundabout </string>
            <string>st,saint </string>
            <string>sch,school </string>
            <string>s,south </string>
            <string>sq,square </string>
            <string>stn,station </string>
            <string>st,street </string>
            <string>gt,great </string>
            <string>grn,green </string>
            <string>gro,grove </string>
            <string>hosp,hospital </string>
            <string>hse,house </string>
            <string>ter,terrace </string>
            <string>tra,trading </string>
            <string>lt,u/g</string>
            <string>lt,underground</string>
            <string>w,west</string>
            <string>&amp;,and</string>
            <string>1st,first</string>
            <string>2nd,second</string>
            <string>3rd,third</string>
            <string>4th,fourth</string>
            <string>5th,fifth</string>
            <string>6th,sixth</string>
            <string>7th,seventh</string>
            <string>8th,eighth</string>
            <string>9th,ninth</string>
            <string>ac,central london training centre</string>
            <string>ad,belgravia</string>
            <string>ag,grosvenor</string>
            <string>ap,pimlico</string>
            <string>av,victoria</string>
            <string>ax,charing x</string>
            <string>az,aldwych</string>
            <string>ba,portobello</string>
            <string>bc,chelsea</string>
            <string>bd,kensington</string>
            <string>be,central kensington</string>
            <string>bh,notting hill</string>
            <string>bk,holland</string>
            <string>bn,notting dale</string>
            <string>bs,kensington and chelsea</string>
            <string>pg,penge</string>
            <string>pkx,brockley</string>
            <string>plx,lewisham</string>
            <string>pm,st mary cray</string>
            <string>pn,orpington</string>
            <string>pp,deptford</string>
            <string>pr,bromley</string>
            <string>ps,sydenham</string>
            <string>pw,w wickham</string>
            <string>px,egerton lodge</string>
            <string>py,bromley and orpington</string>
            <string>pz,lewisham</string>
            <string>q99,wembley stadium</string>
            <string>qa,harrow</string>
            <string>qc,chalkhill</string>
            <string>qd,wembley</string>
            <string>qe,edgware</string>
            <string>qh,harlesden</string>
            <string>qk,kilburn</string>
            <string>ql,willesden grn</string>
            <string>qp,pinner</string>
            <string>qr,carey way</string>
            <string>qs,weststreet</string>
            <string>qw,wealdstone</string>
            <string>qy,kingsbury</string>
            <string>by,chelsea sector</string>
            <string>ca,portman</string>
            <string>cd,w end central</string>
            <string>cg,covent garden</string>
            <string>cl,leicester sq</string>
            <string>cm,mayfair</string>
            <string>cp,city of london pol</string>
            <string>cp4,city of london pol</string>
            <string>cp5,city of london pol</string>
            <string>cp6,city of london pol</string>
            <string>cs,soho</string>
            <string>ctx,tyburn</string>
            <string>cw,westminster</string>
            <string>db,bayswater</string>
            <string>dd,paddington grn</string>
            <string>dm,marylebone</string>
            <string>dq,queens pk</string>
            <string>dr,harrow rd</string>
            <string>ds,st johns wood</string>
            <string>dv,maida vale</string>
            <string>dw,westbourne</string>
            <string>dz,dorset sq</string>
            <string>ed,albany st</string>
            <string>eh,hampstead</string>
            <string>ek,kentish town</string>
            <string>eo,holborn</string>
            <string>esb,empress state bldg</string>
            <string>ew,w hampstead</string>
            <string>ez,kentish town</string>
            <string>ff,fulham</string>
            <string>fh,hammersmith</string>
            <string>fs,shepherds bush</string>
            <string>fz,hammersmith</string>
            <string>ga,dalston</string>
            <string>gd,shoreditch</string>
            <string>gh,hackney</string>
            <string>gl,central newington</string>
            <string>gn,stoke newington</string>
            <string>gs,stamford hill</string>
            <string>qz,kilburn</string>
            <string>ra,plumstead</string>
            <string>rb,belvedere</string>
            <string>rdx,hyde pk</string>
            <string>re,bexley</string>
            <string>rf,greenwich - neighbourhood</string>
            <string>rg,greenwich</string>
            <string>rh,warspite rd</string>
            <string>ri,richmond pk</string>
            <string>rj,kent</string>
            <string>rk,westcombe pk</string>
            <string>rl,marlowe hse</string>
            <string>rm,eltham</string>
            <string>rn,greenwich pk</string>
            <string>ro,royal parks ocu</string>
            <string>rq,st jamess pk</string>
            <string>rr,brompton cem</string>
            <string>rs,sidcup</string>
            <string>rt,thamesmead</string>
            <string>ru,bushy pk</string>
            <string>rv,charlton car pound</string>
            <string>rw,woolwich</string>
            <string>ry,bexleyheath</string>
            <string>rz,regents pk</string>
            <string>sa,barnet</string>
            <string>sc,colindale</string>
            <string>sf,finchley</string>
            <string>sg,golders grn</string>
            <string>si,kingsgate</string>
            <string>sj,hertfordshire</string>
            <string>sk,whetstone - neighbourhood</string>
            <string>sx,barnet borough</string>
            <string>t1,transport ocu</string>
            <string>t2,tfl northwest area</string>
            <string>t3,tfl northeast area</string>
            <string>t4,tfl southeast area</string>
            <string>t5,tfl southwest area</string>
            <string>tb,brentford</string>
            <string>tc,chiswick</string>
            <string>gv,hackney sector</string>
            <string>gx,hoxton</string>
            <string>ha,arbour sq</string>
            <string>hd,leman st</string>
            <string>hh,limehouse</string>
            <string>hi,isle of dogs</string>
            <string>hr,brick la</string>
            <string>ht,tower hamlets</string>
            <string>hw,bow</string>
            <string>ic,london city airport</string>
            <string>id,heathrow</string>
            <string>ii,inner</string>
            <string>io,outer</string>
            <string>jb,barkingside</string>
            <string>jc,chingford</string>
            <string>je,lea bridge</string>
            <string>jf,woodford</string>
            <string>jh,chadwell heath</string>
            <string>ji,ilford</string>
            <string>jj,essex</string>
            <string>jk,walthamstow town</string>
            <string>jl,leyton</string>
            <string>jm,waltham hse</string>
            <string>jn,wanstead</string>
            <string>jp,waltham forest</string>
            <string>jq,ilford</string>
            <string>jr,rigg app</string>
            <string>js,leytonstone</string>
            <string>ju,uplands patrol base</string>
            <string>jv,valentine</string>
            <string>jw,walthamstow</string>
            <string>jy,claygate hse pol stn</string>
            <string>jz,chingford</string>
            <string>ka,harold hill</string>
            <string>kb,barking</string>
            <string>kc,hornchurch</string>
            <string>kd,romford</string>
            <string>td,hounslow</string>
            <string>te,hounslow - n neighbourhood</string>
            <string>tf,feltham</string>
            <string>th,ham</string>
            <string>tk,bedfont</string>
            <string>tl,transport for london</string>
            <string>tn,barnes</string>
            <string>tr,richmond</string>
            <string>tt,teddington</string>
            <string>tw,twickenham</string>
            <string>tx,hounslow borough</string>
            <string>ty,sovereign gate</string>
            <string>tz,twickenham</string>
            <string>vii,seventh</string>
            <string>vk,kingston</string>
            <string>vm,mitcham</string>
            <string>vn,new malden</string>
            <string>vq,wimbledon</string>
            <string>vr,morden - neighbourhood</string>
            <string>vs,surbiton</string>
            <string>vt,kingston</string>
            <string>vw,wimbledon</string>
            <string>wa,battersea</string>
            <string>wd,tooting</string>
            <string>wf,earlsfield</string>
            <string>wg,nightingale la</string>
            <string>wh,wandsworth sector</string>
            <string>wj,jubilee hse</string>
            <string>wl,lavender hill</string>
            <string>wn,nine elms</string>
            <string>wp,putney</string>
            <string>wr,roehampton</string>
            <string>wt,trinity rd</string>
            <string>ww,wandsworth</string>
            <string>xa,acton</string>
            <string>xb,ealing borough</string>
            <string>xc,w drayton custody at polar pk</string>
            <string>ke,e ham</string>
            <string>kf,forest gate</string>
            <string>kg,dagenham</string>
            <string>kh,havering</string>
            <string>kk,marks gate</string>
            <string>kl,collier row</string>
            <string>km,rainham</string>
            <string>kn,n woolwich</string>
            <string>ko,plaistow</string>
            <string>kq,forest gate</string>
            <string>kr,dagenham - neighbourhood</string>
            <string>ks,stratford</string>
            <string>kt,canning town</string>
            <string>ku,upminster</string>
            <string>kv,cam rd</string>
            <string>kw,freshwharf patrol base</string>
            <string>kx,blackburn hse</string>
            <string>ky,hertford hse</string>
            <string>kz,eagle hse</string>
            <string>lc,cavendish rd</string>
            <string>ld,brixton</string>
            <string>lg,gipsy hill</string>
            <string>lk,kennington</string>
            <string>ll,larkhall la</string>
            <string>lm,clapham</string>
            <string>ls,streatham</string>
            <string>lx,lambeth borough</string>
            <string>mb,borough and walworth</string>
            <string>mc,camberwell</string>
            <string>md,southwark</string>
            <string>me,e dulwich</string>
            <string>mh,nunhead</string>
            <string>mm,peckham</string>
            <string>mr,rotherhithe</string>
            <string>ms,walworth</string>
            <string>na,archway</string>
            <string>nd,kings x rd</string>
            <string>xd,ealing</string>
            <string>xe,w drayton</string>
            <string>xf,harefield</string>
            <string>xg,greenford</string>
            <string>xh,hillingdon</string>
            <string>xi,hanwell</string>
            <string>xj,thames valley</string>
            <string>xn,northwood</string>
            <string>xp,perivale</string>
            <string>xr,ruislip</string>
            <string>xs,southall</string>
            <string>xu,uxbridge</string>
            <string>xv,perivale car pound</string>
            <string>xy,hayes</string>
            <string>ya,st anns rd</string>
            <string>yb,gt cambridge ind est</string>
            <string>yd,wood grn</string>
            <string>ydl,lymington ave</string>
            <string>ydq,quicksilver</string>
            <string>ye,edmonton</string>
            <string>yf,enfield</string>
            <string>yh,highgate</string>
            <string>yi,fishmongers arms</string>
            <string>yl,lordship</string>
            <string>ym,muswell hill</string>
            <string>yp,ponders end</string>
            <string>yq,hornsey</string>
            <string>yr,hornsey</string>
            <string>ys,southgate</string>
            <string>yt,tottenham</string>
            <string>yw,winchmore hill</string>
            <string>yz,edmonton</string>
            <string>za,addington</string>
            <string>zb,banstead</string>
            <string>zc,carshalton</string>
            <string>zd,croydon</string>
            <string>nh,holloway</string>
            <string>ni,islington</string>
            <string>nn,islington - n neighbourhood</string>
            <string>ns,islington - s neighbourhood</string>
            <string>nv,highbury vale</string>
            <string>ny,caledonian</string>
            <string>pa,catford</string>
            <string>pb,beckenham</string>
            <string>pc,chislehurst</string>
            <string>pd,bellingham and downham</string>
            <string>pe,bromley - se neighbourhood</string>
            <string>zdq,croydon custody centre</string>
            <string>zi,ambassador hse</string>
            <string>zj,surrey</string>
            <string>zk,kenley</string>
            <string>zn,s norwood</string>
            <string>zp,epsom</string>
            <string>zr,worcester pk</string>
            <string>zs,croydon sector</string>
            <string>zt,sutton</string>
            <string>zw,wallington</string>
            <string>zx,croydon town centre</string>
            <string>zy,norbury</string>
            <string>zz,sutton</string>
            <string>afc,arsenal football club</string>
            <string>arc,adolescent resource centre</string>
            <string>b99,earls ct exhibition centre</string>
            <string>bma (hse),british medical association (hse)</string>
            <string>bpr,buckingham palace rd </string>
            <string>btna,blackwell tunnel north approach</string>
            <string>btsa,blackwell tunnel south approach</string>
            <string>bwfe,broadwater farm est</string>
            <string>bxsc,brent cross shopping centre</string>
            <string>ccc,central criminal ct</string>
            <string>ceu,cargo exit unit</string>
            <string>colmc,city of london magistrates courts</string>
            <string>cp99,bank of england</string>
            <string>cwa,chessington world of adventure</string>
            <string>ebc,ealing broadway centre</string>
            <string>ebs,early baggage search</string>
            <string>eidr,e india dock rd </string>
            <string>ep1-ep8,entry point 1 - entry point 8</string>
            <string>epr,eastern perimeter rd</string>
            <string>ex1-ep13,exit point 1 - exit point 13</string>
            <string>fcc,flight connections centre</string>
            <string>fco,foreign and commonwealth office</string>
            <string>gpe,grahame pk est</string>
            <string>h99,tower of london</string>
            <string>hac,honourable artillery company</string>
            <string>hcmc,highbury cnr magistrates court</string>
            <string>hlgs,hanger lane gyratory system</string>
            <string>hpc,hyde pk cnr</string>
            <string>ica,institute of contemporary art</string>
            <string>ire,inner ring e</string>
            <string>irw,inner ring w</string>
            <string>itn,independent television news</string>
            <string>kgs,kensington gdns sq</string>
            <string>lap,london airport</string>
            <string>latcc,london air traffic control centre</string>
            <string>lca,london city airport</string>
            <string>lgw,london gatwick airport</string>
            <string>lhr,london heathrow airport</string>
            <string>lift,london international freight terminal</string>
            <string>lll,leyton leisure lagoon</string>
            <string>lph,london park hotel</string>
            <string>lts,lower thames st</string>
            <string>lvic,lea valley ice centre</string>
            <string>maff,ministry of agriculture fisheries &amp; food</string>
            <string>mod,ministry of defence</string>
            <string>ncgm,new covent garden market</string>
            <string>nhg,notting hill gate</string>
            <string>nkr,new kent rd</string>
            <string>npl,national physical laboratory</string>
            <string>npr,northern perimeter rd</string>
            <string>npy,new palace yard</string>
            <string>okr,old kent rd</string>
            <string>opy,old palace yard</string>
            <string>pdsa,peoples dispensary for sick animals </string>
            <string>qb,queens bldg</string>
            <string>rcj,royal courts of justice</string>
            <string>rfu,rugby football union</string>
            <string>rhh,royal home &amp; hospital</string>
            <string>rph,regent palace hotel</string>
            <string>rspca,royal society for the prevention of cruelty to animals</string>
            <string>rvpb,royal victoria patriotic building </string>
            <string>sah,south africa house</string>
            <string>sklp,shree kuch leva patel</string>
            <string>snt,safer neighbourhood team</string>
            <string>spr,southern perimeter rd</string>
            <string>swmc,s western magistrates court</string>
            <string>ta centre,territorial army centre</string>
            <string>tba - tbk,technical block a - technical block k</string>
            <string>thfc,tottenham hotspur football club</string>
            <string>thl,thatched house lodge</string>
            <string>tuc,trades union congress</string>
            <string>tvu,thames valley university</string>
            <string>unl,university of north london</string>
            <string>uow,university of westminster</string>
            <string>uts,upper thames st</string>
            <string>vbr,vauxhall bri rd </string>
            <string>wee,worlds end est</string>
            <string>widr,w india dock rd </string>
            <string>wpr,western perimeter rd </string>
            <string>ydcc,wood green crown court</string>
            <string>ymca,young mens christian association</string>
            <string>ywca,young womens christian association</string>
            <string>b99,sw5</string>
            <string>b99 2,sw5</string>
            <string>cp99,ec2</string>
            <string>cx99,wc2</string>
            <string>f99,w12</string>
            <string>h99,ec3</string>
            <string>j099,woodford grn</string>
            <string>l099,sw19</string>
            <string>l99,sw2</string>
            <string>lam99,se1</string>
            <string>n99,n7</string>
            <string>operation f99,w12</string>
            <string>operation foxtrot 99,w12</string>
            <string>p099,se6</string>
            <string>q99,wembley</string>
            <string>r99,se28</string>
            <string>s099,n12</string>
            <string>sv99,nw9</string>
            <string>td99,feltham</string>
            <string>tj99,e1</string>
            <string>trojan 99,ec1</string>
            <string>tx99,feltham</string>
            <string>v099,sw19</string>
            <string>vw99,sw19</string>
            <string>w99,sw18</string>
            <string>x099,w drayton</string>
            <string>z099,kenley</string>
            <string>j98,loughton</string>
            <string>n98,n7</string>
            <string>t98,feltham</string>
            <string>r97,se7</string>
            <string>t97,richmond</string>
            <string>tj97,se11</string>
            <string>bldg,building</string>
            <string>bldg,buildings</string>
          </ArrayOfString>
        </value>
      </setting>
    </Quest.UnitTest.Properties.Settings>
  </userSettings>
</configuration>
