<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <!-- docker database -->
    <add name="OsmEntities" connectionString="metadata=res://*/DataModel.OsmModel.csdl|res://*/DataModel.OsmModel.ssdl|res://*/DataModel.OsmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database;initial catalog=QuestOsm;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestSimEntities" connectionString="metadata=res://*/Model.SimData.csdl|res://*/Model.SimData.ssdl|res://*/Model.SimData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database;initial catalog=QuestSim;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestDataEntities" connectionString="metadata=res://*/Model.QuestData.csdl|res://*/Model.QuestData.ssdl|res://*/Model.QuestData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database;initial catalog=QuestData;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestOSEntities" connectionString="metadata=res://*/Model.QuestOS.csdl|res://*/Model.QuestOS.ssdl|res://*/Model.QuestOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database;initial catalog=QuestOS;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestEntities" connectionString="metadata=res://*/DataModel.QuestModel.csdl|res://*/DataModel.QuestModel.ssdl|res://*/DataModel.QuestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database;initial catalog=Quest;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestNLPGEntities" connectionString="metadata=res://*/Model.QuestNLPG.csdl|res://*/Model.QuestNLPG.ssdl|res://*/Model.QuestNLPG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database;initial catalog=QuestNLPG;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestResearchEntities" connectionString="metadata=res://*/Model.QuestResearch.csdl|res://*/Model.QuestResearch.ssdl|res://*/Model.QuestResearch.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database;initial catalog=QuestData;user=sa;pwd=changeme;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>